/* CategoryCard.css */

.category-card {
  background-color: white;
  border-radius: 15px;
  padding: 20px 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  cursor: pointer;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-card:hover {
  transform: translateY(-5px);
}

.icon-wrapper {
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapper img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.category-title {
  font-size: 14px;
  font-weight: 600;
  color: #1d3ede;
}
