* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(to bottom right, #0f2ba8, #2983d4);
  color: white;
  min-height: 100vh;
}
